# "Cust Purch Dataset Questions Answered"

## Import Pandas and Read the csv file.

In [3]:
import pandas as pd
cust = pd.read_csv('Cust_Purch_FakeData.csv')

## 1. How many entries does your data have? Can you tell the number of columns in your data?

In [5]:
print("Number of entries (rows):", cust.shape[0])
print("Number of columns:", cust.shape[1])

Number of entries (rows): 30000
Number of columns: 20

## 2. What are the max and min ages of your customer? Can you find the mean of your customer?

In [6]:
print("Max age:", cust['age'].max())
print("Min age:", cust['age'].min())
print("Mean age:", cust['age'].mean())

Max age: 65
Min age: 18
Mean age: 41.550066666666666

## 3. What are the three most common customer's names?

In [7]:
cust['first'].value_counts().head(3)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

## 4. Two customers have the same phone number, can you find those customers?

In [8]:
same_phone_number = '(263) 382-8004'
cust[cust['phone'] == same_phone_number]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

## 5. How many customers have the profession "Structural Engineer"?

In [9]:
cust[cust['profession'] == 'Structural Engineer'].shape[0]

87

## 6. How many male customers are 'Structural Engineer'?

In [10]:
cust[(cust['profession'] == 'Structural Engineer') & (cust['gender'] == 'Male')].shape[0]

43

## 7. Find out the female Structural Engineers from province Alberta (AB)?

In [11]:
cust[(cust['profession'] == 'Structural Engineer') & (cust['gender'] == 'Female') & (cust['province'] == 'AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

## 8. What is the max, min, and average spending?

In [12]:
print("Max spending:", cust['price(CAD)'].max())
print("Min spending:", cust['price(CAD)'].min())
print("Average spending:", cust['price(CAD)'].mean())

Max spending: 100.0
Min spending: 0.0
Average spending: 49.990775

## 9. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

In [13]:
cust[cust['price(CAD)'] == 0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

## 10. As a loyalty reward, the company wants to send thanks coupons to those who spent 100 CAD or more. Please find out the customers.

In [14]:
cust[cust['price(CAD)'] >= 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

## 11. How many emails are associated with this credit card number '5020000000000230'?

In [15]:
cust[cust['cc_no'] == 5020000000000230]['email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

## 12. We need to send new cards to the customers well before they expire. How many cards are expiring in 2019?

In [16]:
cust[cust['cc_exp'].apply(lambda x: x[5:]) == '19'].shape[0]

2684

## 13. How many people use Visa as their Credit Card Provider?

In [17]:
cust[cust['cc_type'] == 'Visa'].shape[0]

1721

## 14. Can you find the customer who spent 100 CAD using Visa?

In [18]:
cust[(cust['price(CAD)'] == 100) & (cust['cc_type'] == 'Visa')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

## 15. What are the two most common professions?

In [19]:
cust['profession'].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

## 16. Can you tell the top 5 most popular email providers?

In [20]:
cust['email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

email
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

## 17. Is there any customer who is using an email with "am.edu"?

In [21]:
cust[cust['email'].apply(lambda x: x.split('@')[1] == 'am.edu')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

## 18. Which day of the week does the store get more customers?

In [22]:
cust['weekday'].value_counts()

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Sunday       4213
Tuesday      4187
Name: count, dtype: int64

## End of question-answers.